!!!5
html
  head
    title b2g2pac

    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/head.min.js')

    meta(name="viewport",
         content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
  body

    #content
      != body

    script
      head.js(
        {jquery:        "/js/jquery.min.js"},
        {underscore:    "/js/underscore.min.js"},
        {persona:       "https://login.persona.org/include.js"}
      );

      // executes when the above js modules have been loaded
      head.ready(function() {

        function log(message) {
          console.log(message);
          $("#events").append("<li>" + message + "</li>");
        }

        navigator.id.watch({
          onready: function() {
            log("onready() called");
          },
          onlogin: function(assertion) {
            log("onlogin() called; got an assertion? " + !!assertion);
            $('#dologin').hide();
            $('#dologout').show();
          },
          onlogout: function() {
            log("onlogout() called");
            $('#dologin').show();
            $('#dologout').hide();
          }
        });

        $('#dologin button').click(function() {
          log("calling request()");
          navigator.id.request();
        });

        $('#dologout button').click(function() {
          log("calling logout()");
          navigator.id.logout();
        });

        $('#closewin button').click(function() {
          log("closing Trusty UI");
          paymentSuccess();
        });

        log("page loaded");
      });
